<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        include pug/styles
        title Business Template

    body
        //Start home section
        section#home.home
            .header
                .header-top
                    .container
                        .details
                            ul.left-details
                                li 
                                    a(href="#")
                                        <i class="far fa-clock"></i> Mon-Fri 09:00-17:00
                                li 
                                    a(href="#")
                                        <i class="fas fa-phone-alt"></i> 090-080-0760
                            ul.right-details
                                li  
                                    a(href="#")
                                        <i class="fab fa-facebook-f"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-twitter"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-linkedin-in"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-behance"></i>

                nav
                    .container
                        .navbar
                            .nav-top
                                h1  Finance Business
                                .nav-toggle
                                    <i class="fas fa-bars"></i>
                            .list-container
                                ul.nav-list
                                    li.nav-item
                                        a.nav-link.active(href="#") home
                                    li.nav-item
                                        a.nav-link(href="#") about us
                                    li.nav-item
                                        a.nav-link(href="#") our service
                                    li.nav-item
                                        a.nav-link(href="#") contact us

            .banner
                .slider
                    .item.item-1
                        .text-content
                            h4 we are ready to help you
                            h2#heading Financial Analysis<br>& Consulting
                            p This finance HTML template is 100% free of charge provided by TemplateMo for everyone. You can download, edit and use this layout for your business website.

                            a(href="#") contact us

                    .item.item-2
                        .text-content
                            h4 we are here to support you
                            h2#heading Accounting<br>& Management
                            p You are allowed to use this template for your company websites. You are NOT allowed to re-distribute this template ZIP file on any template download website. Please contact TemplateMo for more detail.

                            a(href="#") our services
                            
                    .item.item-3
                        .text-content
                            h4 we have a solid background
                            h2#heading Market Analysis<br>& Statistics
                            p Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.

                            a(href="#") learn more

            div.slider-btn.prev-btn
                span
                    <i class="fas fa-chevron-left"></i>
            div.slider-btn.next-btn
                span
                    <i class="fas fa-chevron-right"></i>
        //End Home Section

        //Request Call Start
        section.request-call
            .container
                .content
                    .text-content
                        h3 Request a call back right now ?
                        p Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.
                    a(href="#") contact us
        //Request Call End

        //Start Services Section
        section#services.services.section-pd
            .container
                .section-title
                    h2 Finacial 
                        span Services
                    p ALIQUAM ID URNA IMPERDIET LIBERO MOLLIS HENDRERIT
                .cards-wrapper
                    .card
                        img(src="assets/images/service_01.jpg", alt="")
                        .card-text
                            h3 Digital Currency
                            p Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
                            a(href="#") read more
                    .card
                        img(src="assets/images/service_02.jpg", alt="")
                        .card-text
                            h3 Market Analysis
                            p Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
                            a(href="#") read more
                    .card
                        img(src="assets/images/service_03.jpg", alt="")
                        .card-text
                            h3 Historical Data
                            p Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
                            a(href="#") read more
        //End Services Section

        //Start Statistics Section
        section#statistics.statistics.section-pd
            .container
                .content
                    .text-content
                        h4 LOREM IPSUM DOLOR SIT AMET
                        h2 Our solutions for your
                            <br>
                            span business growth
                        p Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue.

                        p Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.

                        a(href="#") read more
                    
                    .counters
                        .counter
                            span.count(data-from="0",data-to="945")
                            span.description work hours

                        .counter
                            span.count(data-from="0",data-to="1280")
                            span.description Great Reviews

                        .counter
                            span.count(data-from="0",data-to="578")
                            span.description Projects Done

                        .counter
                            span.count(data-from="0",data-to="26")
                            span.description Awards Won

        //End Statistics Section

        //Start Info Section
        section#info.info.section-pd
            .container
                .info-content
                    .img-wrapper
                        img(src="assets/images/more-info.jpg", alt="")
                    .right-content
                        .text-content
                            h4 who we are
                            h2 Get to know about
                                span  our <br> company
                            p Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse quat tellus nibh, id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in cursus

                            p Praes end at dictum metus. Morbi id hendrerit lectus, nec dapibus ex. Etiam ipsum quam, luctus eu egestas eget, tincidunt

                            a(href="#") read more

        //End Info Section

        //Start Testimonial Section
        section#testimonial.testimonial.section-pd
            .container
                .section-title
                    h2 What they say 
                        span about us
                    p TESTIMONIALS FROM OUR GREATEST CLIENTS

                .slider
                    .testimonial-carousel.owl-carousel
                        .slider-item
                            .item
                                h3 david wood
                                span Chief Accountant
                                p Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique.
                            .slider-item-img
                                img(src="assets/images/testimonial_01.jpg", alt="")
                        .slider-item
                            .item
                                h3 Andrew Boom
                                span Marketing Head
                                p Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis.
                            .slider-item-img
                                img(src="assets/images/testimonial_02.jpg", alt="")
                        .slider-item
                            .item
                                h3 George Walker
                                span Chief Financial Analyst
                                p Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem sit amet quam. Pellentesque in sagittis lacus.
                            .slider-item-img
                                img(src="assets/images/testimonial_03.jpg", alt="")
                        .slider-item
                            .item
                                h3 John Smith
                                span Market Specialist
                                p In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan, arcu id ornare malesuada, est nulla luctus nisi.
                            .slider-item-img
                                img(src="assets/images/testimonial_04.jpg", alt="")


        //End Testimonial Section

        //Start Callback Section
        section#callback.callback.section-pd
            .container
                .section-title
                    h2 Request a 
                        span call back
                    p ETIAM SUSCIPIT ANTE A ODIO CONSEQUAT

                .form-outer
                        .inputs
                            .input-control
                                input(type="text" placeholder="full name")
                            .input-control
                                input(type="email" placeholder="e-mail address")
                            .input-control
                                input(type="text" placeholder="subject")

                        .textarea
                            textarea(placeholder="your message")

                        button(type='submit') send message

        //End Callback Section

        //Start Clients Section
        section#clients.clients
            .container
                .carousel
                    .clients-carousel.owl-carousel
                        .client-image
                            img(src="assets/images/client-01.png", alt="")
                        .client-image
                            img(src="assets/images/client-01.png", alt="")
                        .client-image
                            img(src="assets/images/client-01.png", alt="")
                        .client-image
                            img(src="assets/images/client-01.png", alt="")
                        .client-image
                            img(src="assets/images/client-01.png", alt="")
                        .client-image
                            img(src="assets/images/client-01.png", alt="")
        //End Clients Section

        //Start Contact us Section
        section#contact-us.contact-us
            .container
                .content
                    .contact-item
                        .social-links
                            h3  Finance Business
                            p Vivamus tellus mi. Nulla ne cursus elit,vulputate. Sed ne cursus augue hasellus lacinia sapien vitae.
                            ul.right-details
                                li  
                                    a(href="#")
                                        <i class="fab fa-facebook-f"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-twitter"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-linkedin-in"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-behance"></i>

                    .contact-item
                        .useful-links
                            h3 Useful Links
                            ul
                                li
                                    a(href="#") Vivamus ut tellus mi
                                li
                                    a(href="#") Nulla nec cursus elit
                                li
                                    a(href="#") Vulputate sed nec
                                li
                                    a(href="#") Cursus augue hasellus
                                li
                                    a(href="#") Lacinia ac sapien

                    .contact-item
                        .additional-pages
                            h3 Additional Pages
                            ul
                                li
                                    a(href="#") About Us
                                li
                                    a(href="#") How We Work
                                li
                                    a(href="#") Quick Support
                                li
                                    a(href="#") Contact Us
                                li
                                    a(href="#") Privacy Policy

                    .contact-item
                        .contact-form
                            h3 Contact Us
                            .form
                                .input-control
                                    input(type="text" placeholder="full name")
                                .input-control
                                    input(type="email" placeholder="e-mail address")
                                .input-control
                                    textarea(placeholder="your message")
                                button send message
                            

        //End Contact us Section

        |
        |
        include pug/scripts

