<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        include pug/styles
        title Business Template

    body
        //Start home section
        section#home.home
            .header
                .header-top
                    .container
                        .details
                            ul.left-details
                                li 
                                    a(href="#")
                                        <i class="far fa-clock"></i> Mon-Fri 09:00-17:00
                                li 
                                    a(href="#")
                                        <i class="fas fa-phone-alt"></i> 090-080-0760
                            ul.right-details
                                li  
                                    a(href="#")
                                        <i class="fab fa-facebook-f"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-twitter"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-linkedin-in"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-behance"></i>

                nav
                    .container
                        .navbar
                            .nav-top
                                h1  Finance Business
                                .nav-toggle
                                    <i class="fas fa-bars"></i>
                            .list-container
                                ul.nav-list
                                    li.nav-item
                                        a.nav-link.active(href="#") home
                                    li.nav-item
                                        a.nav-link(href="#") about us
                                    li.nav-item
                                        a.nav-link(href="#") our service
                                    li.nav-item
                                        a.nav-link(href="#") contact us

            .banner
                .slider
                    .item.item-1
                        .text-content
                            h4 we are ready to help you
                            h2 Financial Analysis<br>& Consulting
                            p This finance HTML template is 100% free of charge provided by TemplateMo for everyone. You can download, edit and use this layout for your business website.

                            a(href="#") contact us

                    .item.item-2
                        .text-content
                            h4 we are here to support you
                            h2 Accounting<br>& Management
                            p You are allowed to use this template for your company websites. You are NOT allowed to re-distribute this template ZIP file on any template download website. Please contact TemplateMo for more detail.

                            a(href="#") our services
                            
                    .item.item-3
                        .text-content
                            h4 we have a solid background
                            h2 Market Analysis<br>& Statistics
                            p Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.

                            a(href="#") learn more

            div.slider-btn.prev-btn
                span
                    <i class="fas fa-chevron-left"></i>
            div.slider-btn.next-btn
                span
                    <i class="fas fa-chevron-right"></i>
        //End Home Section

        //Request Call Start
        section.request-call
            .container
                .content
                    .text-content
                        h3 Request a call back right now ?
                        p Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.
                    a(href="#") contact us
        //Request Call End

        //Start Services Section
        section#services.services.section-pd
            .container
                .section-title
                    h2 Finacial 
                        span Services
                    p ALIQUAM ID URNA IMPERDIET LIBERO MOLLIS HENDRERIT
                .cards-wrapper
                    .card
                        img(src="assets/images/service_01.jpg", alt="")
                        .card-text
                            h3 Digital Currency
                            p Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
                            a(href="#") read more
                    .card
                        img(src="assets/images/service_02.jpg", alt="")
                        .card-text
                            h3 Market Analysis
                            p Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
                            a(href="#") read more
                    .card
                        img(src="assets/images/service_03.jpg", alt="")
                        .card-text
                            h3 Historical Data
                            p Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
                            a(href="#") read more
        //End Services Section

        //Start Statistics Section
        section#statistics.statistics.section-pd
            .container
                .content
                    .text-content
                        h4 LOREM IPSUM DOLOR SIT AMET
                        h2 Our solutions for your
                            <br>
                            span business growth
                        p Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue.

                        p Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.

                        a(href="#") read more
                    
                    .counters
                        .counter
                            span.count(data-from="0",data-to="945")
                            span.description work hours

                        .counter
                            span.count(data-from="0",data-to="1280")
                            span.description Great Reviews

                        .counter
                            span.count(data-from="0",data-to="578")
                            span.description Projects Done

                        .counter
                            span.count(data-from="0",data-to="26")
                            span.description Awards Won

        //End Statistics Section

        |
        |
        include pug/scripts

