<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        //fonts
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="assets/css/all.css")
        //libs
        link(rel="stylesheet", href="assets/css/slick.css")
        //styles
        link(rel="stylesheet", href="assets/css/main.css")
        title Business Template

    body
        section#home.home
            .header
                .header-top
                    .container
                        .details
                            ul.left-details
                                li 
                                    a(href="#")
                                        <i class="far fa-clock"></i> Mon-Fri 09:00-17:00
                                li 
                                    a(href="#")
                                        <i class="fas fa-phone-alt"></i> 090-080-0760
                            ul.right-details
                                li  
                                    a(href="#")
                                        <i class="fab fa-facebook-f"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-twitter"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-linkedin-in"></i>
                                li  
                                    a(href="#")
                                        <i class="fab fa-behance"></i>

                nav
                    .container
                        .navbar
                            .nav-top
                                h1  Finance Business
                                .nav-toggle
                                    <i class="fas fa-bars"></i>
                            ul.nav-list
                                li.nav-item
                                    a.nav-link.active(href="#") home
                                li.nav-item
                                    a.nav-link(href="#") about us
                                li.nav-item
                                    a.nav-link(href="#") our service
                                li.nav-item
                                    a.nav-link(href="#") contact us

            .banner
                .slider
                    .item.item-1
                        .text-content
                            h4 we are ready to help you
                            h2 Financial Analysis<br>& Consulting
                            p This finance HTML template is 100% free of charge provided by TemplateMo for everyone. You can download, edit and use this layout for your business website.

                            a.btn(href="#") contact us

                    .item.item-2
                        .text-content
                            h4 we are here to support you
                            h2 Accounting<br>& Management
                            p You are allowed to use this template for your company websites. You are NOT allowed to re-distribute this template ZIP file on any template download website. Please contact TemplateMo for more detail.

                            a.btn(href="#") our services
                            
                    .item.item-3
                        .text-content
                            h4 we have a solid background
                            h2 Market Analysis<br>& Statistics
                            p Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.

                            a.btn(href="#") learn more

            div.slider-btn.prev-btn
                span
                    <i class="fas fa-chevron-left"></i>
            div.slider-btn.next-btn
                span
                    <i class="fas fa-chevron-right"></i>

        script(src="assets/js/jquery.min.js")
        script(src="assets/js/slick.min.js")
        script(src="assets/js/main.js")
        script(src="http://localhost:35729/livereload.js")

