//variabels
//colors vars
$mainColor: #a4c639;
$secondaryColor: #f7f7f7;
$lightColor: #fff;
$darkColor: #1e1e1e;
$section_alt: #f7f7f7;
//fonts vars
$fontSize1: 1.5rem;
$fontSize2: 2rem;
$fontSize3: 2.5rem;
//font wight
$font_weight_300: 300;
$font_weight_600: 600;
//transition
$trasition_color: color 0.3s ease;
$transition_all: all 0.3s ease;
//border
$border_raduis: 35px;
//line-height
$line_height: 30px;
//media query
$small_screen_media: 575px;
$medium_screen_media: 767px;
$large_screen_media: 991px;

//mixins
@mixin flex-between {
 display: flex;
 justify-content: space-between;
}

@mixin upper-spacing {
 text-transform: uppercase;
 letter-spacing: 1px;
}

@mixin p-style {
 line-height: 30px;
 font-size: 15px;
}

@mixin btn {
 background-color: $mainColor;
 color: $lightColor;
 padding: 0.75rem 1.75rem;
 text-transform: uppercase;
 text-align: center;
 font-weight: $font_weight_600;
 font-size: 13px;
 transition: $transition_all;
 border-radius: $border_raduis;

 &:hover {
  background-color: $lightColor;
  color: $mainColor;
 }
}

@mixin btn-alt {
 @include btn;
 border: 2px solid $lightColor;
}
