.request-call {
 background-color: $mainColor;
 @extend .py-2;
 .content {
  @include flex-between;
  align-items: center;

  .text-content {
   max-width: 100% !important;
   color: $lightColor;
   h3 {
    font-weight: $font_weight_600;
    margin-bottom: 0.5rem;
   }

   p {
    @include p-style;
   }
  }

  a {
   @include btn-alt;
   transition: $transition_all;

   &:hover {
    background-color: $lightColor;
    color: $mainColor;
   }
  }
 }
}

@media (max-width: $medium_screen_media) {
 .content {
  flex-direction: column;

  .text-content {
   text-align: center !important;
   margin-bottom: 2rem;
  }
 }
}
