include pug/layout/styles 
.parent
    .child
        .element.class-one
            |   hello from Pug file
        .element.class-one
            |   hello from Pug file
        .element.class-one
            |   hello from Pug file


.container
    .row
        .col-md-10 
            | this is div

script(src="js/main.js")
script(src="http://localhost:35729/livereload.js")